#### q1 : Try to print a prime number in between 1 to 1000

In [7]:
n = int(input("Enter the range of Prime Numbers:\n"))
prime_list = []
for i in range(1,n):
    prime = True
    for j in range(2,i):
        if(i%j == 0):
            prime = False
            
    if(prime):
        prime_list.append(i)
        
lenOfprimelist = len(prime_list)        
for j,k in enumerate(prime_list):
    if j<(lenOfprimelist-1):
        print(k,end=",")
    else:
        print(k)

Enter the range of Prime Numbers:
1000
1,2,3,5,7,11,13,17,19,23,29,31,37,41,43,47,53,59,61,67,71,73,79,83,89,97,101,103,107,109,113,127,131,137,139,149,151,157,163,167,173,179,181,191,193,197,199,211,223,227,229,233,239,241,251,257,263,269,271,277,281,283,293,307,311,313,317,331,337,347,349,353,359,367,373,379,383,389,397,401,409,419,421,431,433,439,443,449,457,461,463,467,479,487,491,499,503,509,521,523,541,547,557,563,569,571,577,587,593,599,601,607,613,617,619,631,641,643,647,653,659,661,673,677,683,691,701,709,719,727,733,739,743,751,757,761,769,773,787,797,809,811,821,823,827,829,839,853,857,859,863,877,881,883,887,907,911,919,929,937,941,947,953,967,971,977,983,991,997

#### q2 : Try to write a function which  is equivalent  to print function in python

In [36]:
def print_fun(txt):
     return txt

In [37]:
print_fun("Atanu")

'Atanu'

#### q4 : Try to write a lambda function which can return a concatination of all the string that we will pass

In [81]:
def concat_txt(args):
    txt = ""
    for i in args:
        txt = txt + i
    print(txt)

str_data = lambda *args : concat_txt(args)
str_data("ad","bf")

adbf

In [85]:
from functools import reduce
b=""
data = lambda *args : [i for i in args]
s = data("ad","bf")
st = reduce((lambda x,y : x+y),s)
print(st)

adbf

#### q5 : Try to write a lambda function which can return list of square of all the data between 1-100

In [1]:
sqr = lambda x : [i**2 for i in range(1,x)]
sqr(100)

[1,
 4,
 9,
 16,
 25,
 36,
 49,
 64,
 81,
 100,
 121,
 144,
 169,
 196,
 225,
 256,
 289,
 324,
 361,
 400,
 441,
 484,
 529,
 576,
 625,
 676,
 729,
 784,
 841,
 900,
 961,
 1024,
 1089,
 1156,
 1225,
 1296,
 1369,
 1444,
 1521,
 1600,
 1681,
 1764,
 1849,
 1936,
 2025,
 2116,
 2209,
 2304,
 2401,
 2500,
 2601,
 2704,
 2809,
 2916,
 3025,
 3136,
 3249,
 3364,
 3481,
 3600,
 3721,
 3844,
 3969,
 4096,
 4225,
 4356,
 4489,
 4624,
 4761,
 4900,
 5041,
 5184,
 5329,
 5476,
 5625,
 5776,
 5929,
 6084,
 6241,
 6400,
 6561,
 6724,
 6889,
 7056,
 7225,
 7396,
 7569,
 7744,
 7921,
 8100,
 8281,
 8464,
 8649,
 8836,
 9025,
 9216,
 9409,
 9604,
 9801]

#### q6 : Try to write a 10 Different different example of lambda function with a choice of your taks

In [86]:
# Example_1
lambda_cube = lambda y: y*y*y
lambda_cube(5)

125

In [97]:
# Example_2
tables = [lambda x=x: x*10 for x in range(1, 11)]
  
for table in tables:
    print(table())

10
20
30
40
50
60
70
80
90
100

In [99]:
# Example_3
# Example of lambda function using if-else
Max = lambda a, b : a if(a > b) else b
print(Max(1, 2))

2

In [100]:
# Example_4
li = [5, 7, 22, 97, 54, 62, 77, 23, 73, 61]
  
final_list = list(filter(lambda x: (x%2 != 0) , li))
print(final_list)

[5, 7, 97, 77, 23, 73, 61]

In [1]:
# Example_5
highr_ord_fun = lambda x ,fun : x + fun(x)
highr_ord_fun(20, lambda x: x*x)

420

In [3]:
# Example_6
(lambda x: (x%2 and 'odd' or 'even'))(16)

'even'

In [5]:
# Example_7
sub_string = lambda string : string in "Full Stack Data Science Bootcamp"
print(sub_string('Python'))

False

In [7]:
# Example_8
num_list = [10,15,12,21,25,8,20]

greater = list(filter(lambda num : num>11, num_list))
print(greater)

[15, 12, 21, 25, 20]

In [8]:
# Example_9
num_list = [10,15,20,25,30]

doubl_num = list(map(lambda x : x*2,num_list))
print(doubl_num)

[20, 30, 40, 50, 60]

In [9]:
# Example_10
from functools import reduce
li = [5, 8, 10, 20, 50, 100]
sum = reduce((lambda x, y: x + y), li)
print (sum)

193

#### q7 : Try to wwrite a funtion whihc can perform a read operation from .txt file

In [29]:
def read_file(file):
    with open(file,'r') as f:
        print(f.read())

In [30]:
read_file("Atanu.txt")

My Name is Atanu Kundu