In [2]:
# q1:
for i in range(4):
    print("ineuron " *(i+1))

ineuron
ineuron ineuron
ineuron ineuron ineuron
ineuron ineuron ineuron ineuron

In [10]:
# q2:
for i in range(3):
    print("\t"*(3-i-1),end="")
    print("ineuron \t"*(i+1))
    m = 2
for i in range(2):
    print("\t"*(i+1),end="")
    print("ineuron \t"*m)
    m = m -1

		ineuron
	ineuron 	ineuron
ineuron 	ineuron 	ineuron
	ineuron 	ineuron
		ineuron

In [11]:
# q3:
l = [[1,2,3,4] , (2,3,4,5,6) , (3,4,5,6,7) , set([23,4,5,45,4,4,5,45,45,4,5]) , {'k1' :"sudh" , "k2" : "ineuron","k3":
            "kumar" , 3:6 , 7:8} , ["ineuron" , "data science "]]

for i in l:
    if type(i) == list:
        print(i)

[1, 2, 3, 4]
['ineuron', 'data science ']

In [12]:
# q4:
for i in l:
    if type(i) == dict:
        print(i)

{'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8}

In [13]:
# q5:
for i in l:
    if type(i) == tuple:
        print(i)

(2, 3, 4, 5, 6)
(3, 4, 5, 6, 7)

In [29]:
# q6 , q7:
l = [[1,2,3,4] , (2,3,4,5,6) , (3,4,5,6,7) , set([23,4,5,45,4,4,5,45,45,4,5]) , {'k1' :"sudh" , "k2" : "ineuron","k3":
            "kumar" , 3:6 , 7:8} , ["ineuron" , "data science "]]

sum = 0

for i in l:
    if type(i) == list or type(i) == tuple or type(i) == set:
        for j in i:
            if type(j) == int:
                print(j)
                sum = sum + j
                
    if type(i) == dict:
        for k,v in i.items():
            if type(v) == int:
                print(v)
                sum = sum + v

                
print("Sum=",sum)
# for j in l:
#     if type(j) == set:
#         print(j)

# another trick to fetch value from dictionary
# for j in d.items():
#     if type(j[1])== int:
#         print(j[1])

1
2
3
4
2
3
4
5
6
3
4
5
6
7
45
4
5
23
6
8
Sum= 146

In [12]:
# q8:
l = [[1,2,3,4] , (2,3,4,5,6) , (3,4,5,6,7) , set([23,4,5,45,4,4,5,45,45,4,5]) , {'k1' :"sudh" , "k2" : "ineuron","k3":
            "kumar" , 3:6 , 7:8} , ["ineuron" , "data science "]]
main_list = []
odd_list = []
for i in l:
    if type(i) == list:
        odd_list = []
        for j in i:
            if type(j) == int:
                if (j%2 != 1):
                    odd_list.append(j)

        
        if(len(odd_list) == 0):
            odd_list.clear()
        else:
            main_list.append(odd_list)
                        
print(main_list)

[[2, 4]]

In [13]:
# q9:
l = [[1,2,3,4] , (2,3,4,5,6) , (3,4,5,6,7) , set([23,4,5,45,4,4,5,45,45,4,5]) , {'k1' :"sudh" , "k2" : "ineuron","k3":
            "kumar" , 3:6 , 7:8} , ["ineuron" , "data science "]]

for i in l:
    if type(i) == list:
        for j in i:
            if j == "ineuron":
                print(j)
                
    
    if type(i) == dict:
        for k,v in i.items():
            if v == "ineuron":
                print(v)

ineuron
ineuron

In [26]:
# q10:
l = [[1,2,3,4] , (2,3,4,5,6) , (3,4,5,6,7) , set([23,4,5,45,4,4,5,45,45,4,5]) , {'k1' :"sudh" , "k2" : "ineuron","k3":
            "kumar" , 3:6 , 7:8} , ["ineuron" , "data science "]]

num_list = []
txt_list = []
for i in l:
    if type(i) == list or type(i) == tuple or type(i) == set:
        for j in i:
            if type(j) == int:
                num_list.append(j)
            else:
                txt_list.append(j)
                
                
    if type(i) == dict:
        for k,v in i.items():
            if type(v) == int:
                num_list.append(v)
            else:
                txt_list.append(v)
                
# print(num_list)       
# print(txt_list)

for num in set(num_list):
    print(num  , ":" , num_list.count(num))
for txt in set(txt_list):
    print(txt  , ":" , txt_list.count(txt))

1 : 1
2 : 2
3 : 3
4 : 4
5 : 3
6 : 3
7 : 1
8 : 1
45 : 1
23 : 1
ineuron : 2
data science  : 1
kumar : 1
sudh : 1

In [28]:
# q11:
l = [[1,2,3,4] , (2,3,4,5,6) , (3,4,5,6,7) , set([23,4,5,45,4,4,5,45,45,4,5]) , {'k1' :"sudh" , "k2" : "ineuron","k3":
            "kumar" , 3:6 , 7:8} , ["ineuron" , "data science "]]

for i in l:
    if type(i) == dict:
        print("Number of keys in dict element is",len(i))

Number of keys in dict element is 5

In [29]:
# q12:
l = [[1,2,3,4] , (2,3,4,5,6) , (3,4,5,6,7) , set([23,4,5,45,4,4,5,45,45,4,5]) , {'k1' :"sudh" , "k2" : "ineuron","k3":
            "kumar" , 3:6 , 7:8} , ["ineuron" , "data science "]]

for i in l:
    if type(i) == list or type(i) == tuple or type(i) == set:
        for j in i:
            if type(j) == str:
                print(j)
                
                
    if type(i) == dict:
        for k,v in i.items():
            if type(v) == str:
                print(v)

sudh
ineuron
kumar
ineuron
data science

In [18]:
# q13:
l = [[1,2,3,4] , (2,3,4,5,6) , (3,4,5,6,7) , set([23,4,5,45,4,4,5,45,45,4,5]) , {'k1' :"sudh" , "k2" : "ineuron","k3":
            "kumar" , 3:6 , 7:8} , ["ineuron" , "data science "]]

for i in l:
    if type(i) == list or type(i) == tuple or type(i) == set:
        for j in i:
            if (type(j) == str):
                if(j.startswith(str(j)) and j[1:].isdigit()):
                    print(j)
                
                         
                
    if type(i) == dict:
        for k,v in i.items():
            if type(k) == str:
                if(k.startswith(str(k)) and k[1:].isdigit()):
                    print(k)
            if type(v) == str:
                if(v.startswith(str(v)) and v[1:].isdigit()):
                    print(v)

k1
k2
k3

In [24]:
# q14:
l = [[1,2,3,4] , (2,3,4,5,6) , (3,4,5,6,7) , set([23,4,5,45,4,4,5,45,45,4,5]) , {'k1' :"sudh" , "k2" : "ineuron","k3":
            "kumar" , 3:6 , 7:8} , ["ineuron" , "data science "]]


for i in l:
    if type(i) == list or type(i) == tuple or type(i) == set:
        mul = 1
        for j in i:
            if type(j) == int:
                mul = mul * j
            else:
                mul = ""
        print(mul)
        
    if type(i) == dict:
        mul = 1
        for k,v in i.items():
            if type(v) == int:
                mul = mul * v
        print(mul)

24
720
2520
20700
48

In [25]:
# q15:
l = [[1,2,3,4] , (2,3,4,5,6) , (3,4,5,6,7) , set([23,4,5,45,4,4,5,45,45,4,5]) , {'k1' :"sudh" , "k2" : "ineuron","k3":
            "kumar" , 3:6 , 7:8} , ["ineuron" , "data science "]]

new_list = []

for i in l:
    if type(i) == list or type(i) == tuple or type(i) == set:
        for j in i:
            new_list.append(j)
     
    if type(i) == dict:
        for k,v in i.items():
            new_list.append(v)
            
print(new_list)

[1, 2, 3, 4, 2, 3, 4, 5, 6, 3, 4, 5, 6, 7, 45, 4, 5, 23, 'sudh', 'ineuron', 'kumar', 6, 8, 'ineuron', 'data science ']