In [1]:
import mysql.connector as connection

In [2]:
import mysql.connector as connection

mydb = connection.connect(host= "localhost", user= "root", passwd= "mysql", use_pure= True)
cur = mydb.cursor()
cur.execute("create database if not exists ineuron_fsda")
print("Database Created!!")
mydb.close()

Database Created!!

In [4]:
import mysql.connector as connection

mydb = connection.connect(host= "localhost", database="ineuron_fsda", user= "root", passwd= "mysql", use_pure= True)
cur = mydb.cursor()
cur.execute("create table if not exists bank_details(age int,job varchar(30),marital varchar(30),education varchar(30),`default` varchar(30),balance int , housing varchar(30),loan varchar(30) , contact varchar(30),`day` int,`month` varchar(30) , duration int , campaign int,pdays int , previous int , poutcome varchar(30) , y varchar(30))")
print("Table Created!!")

Table Created!!

In [ ]:
#Try to find out avarage of balance

In [8]:
mydb = connection.connect(host= "localhost", database="ineuron_fsda", user= "root", passwd= "mysql", use_pure= True)
cur = mydb.cursor()
cur.execute("select avg(balance) from bank_details")
cur.fetchall()

[(Decimal('232.5000'),)]

In [ ]:
#try to find out who is having a min balance

In [22]:
mydb = connection.connect(host= "localhost", database="ineuron_fsda", user= "root", passwd= "mysql", use_pure= True)
cur = mydb.cursor()
cur.execute("select * from bank_details where balance = (select min(balance) from bank_details)")
cur.fetchall()

[(33,
  'unknown',
  'single',
  'unknown',
  'no',
  1,
  'no',
  'no',
  'unknown',
  5,
  'may',
  198,
  1,
  -1,
  0,
  'unknown',
  'no')]

In [ ]:
#try to find out who is having a mazxmim balance

In [21]:
mydb = connection.connect(host= "localhost", database="ineuron_fsda", user= "root", passwd= "mysql", use_pure= True)
cur = mydb.cursor()
cur.execute("select * from bank_details where balance = (select max(balance) from bank_details)")
cur.fetchall()

[(47,
  'blue-collar',
  'married',
  'unknown',
  'no',
  1506,
  'yes',
  'no',
  'unknown',
  5,
  'may',
  92,
  1,
  -1,
  0,
  'unknown',
  'no')]

In [ ]:
#try to prepare a list of all the person who is having loan

In [14]:
mydb = connection.connect(host= "localhost", database="ineuron_fsda", user= "root", passwd= "mysql", use_pure= True)
cur = mydb.cursor()
cur.execute("select age from bank_details where loan='yes'")
cur.fetchall()

[(33,), (28,)]

In [ ]:
#try to find out average balance for all the people whose job role is admin

In [20]:
mydb = connection.connect(host= "localhost", database="ineuron_fsda", user= "root", passwd= "mysql", use_pure= True)
cur = mydb.cursor()
cur.execute("select avg(balance) from bank_details where job = 'admin.'")
cur.fetchall()

[(Decimal('224.3333'),)]

In [ ]:
#try to find out a record  without job whose age is below 45

In [23]:
mydb = connection.connect(host= "localhost", database="ineuron_fsda", user= "root", passwd= "mysql", use_pure= True)
cur = mydb.cursor()
cur.execute("select * from bank_details where job = 'unknown' and age<45")
cur.fetchall()

[(33,
  'unknown',
  'single',
  'unknown',
  'no',
  1,
  'no',
  'no',
  'unknown',
  5,
  'may',
  198,
  1,
  -1,
  0,
  'unknown',
  'no')]

In [24]:
#try to find out a record where education is primarty and person is jobless

In [27]:
mydb = connection.connect(host= "localhost", database="ineuron_fsda", user= "root", passwd= "mysql", use_pure= True)
cur = mydb.cursor()
cur.execute("select * from bank_details where education = 'primary' and job='retired'")
data = cur.fetchall()
for i in data:
    print(i)

(58, 'retired', 'married', 'primary', 'no', 121, 'yes', 'no', 'unknown', 5, 'may', 50, 1, -1, 0, 'unknown', 'no')
(51, 'retired', 'married', 'primary', 'no', 229, 'yes', 'no', 'unknown', 5, 'may', 353, 1, -1, 0, 'unknown', 'no')
(60, 'retired', 'married', 'primary', 'no', 60, 'yes', 'no', 'unknown', 5, 'may', 219, 1, -1, 0, 'unknown', 'no')

In [28]:
#try to find of a record whose bank account is having a negative balance

In [31]:
mydb = connection.connect(host= "localhost", database="ineuron_fsda", user= "root", passwd= "mysql", use_pure= True)
cur = mydb.cursor()
cur.execute("select * from bank_details where balance<0")
cur.fetchall()

[]

In [32]:
#try to find our a record who is not having house at all along with there balance

In [33]:
mydb = connection.connect(host= "localhost", database="ineuron_fsda", user= "root", passwd= "mysql", use_pure= True)
cur = mydb.cursor()
cur.execute("select * from bank_details where housing = 'no'")
cur.fetchall()

[(33,
  'unknown',
  'single',
  'unknown',
  'no',
  1,
  'no',
  'no',
  'unknown',
  5,
  'may',
  198,
  1,
  -1,
  0,
  'unknown',
  'no')]